body{
    background-color: white;
    text-align: center;}

h1{
    color:crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
p{
    font-size: larger;
}
.cms{
    border: 3px;
    border-color: rgba(255, 38, 38, 0.89);
}
