body{
    background-color: white;
    text-align: center;}

h1{
    color:crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
p{
    font-size: larger;
}
.bt{
    background-color: rgba(255, 12, 12, 0.856);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
div{
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 80px;
}