body{
    background-color: white;
    text-align: center;}

h1{
    color:crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
p{
    font-size: larger;
}
a:link, a:visited {
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    background-color: antiquewhite;
  }

div{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 40px;
}